.item-container {
  background-color: rgb(37, 37, 37);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-content: start;
  padding: 20px;
  margin-bottom: 20px;
}

.pdf-item {
  background-color: #1c1a1a;
  color: white;
  border-radius: 8px;
  border: none;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: 0.15s;
}

.pdf-item:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.info-title {
  margin-bottom: 10px;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.info-author {
  margin-bottom: 10px;
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.info-category {
  margin-bottom: 10px;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.download-btn {
  margin-left: 10px;
  display: none;
  color: white;
  text-decoration: none;
  border: white 1px solid;
  border-radius: 20px;
  padding: 10px;
  font-family: sans-serif;
  font-weight: 800;
  font-size: 12px;
  text-transform: uppercase;
}

.view-btn {
  display: inline-flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  margin: 0px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 8px;
  font-weight: 800;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}

.view-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.favorite-btn {
  display: none;
  position: absolute;
  background-color: rgb(37, 37, 37);
  color: white;
  border: none;
  top: 0;
  right: 0;
  margin-right: 10px;
  margin-top: 10px;
  padding: 5px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  font-weight: 800;
  margin-left: 20px;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.15;
}

.remove-btn {
  display: none;
  position: absolute;
  background-color: rgb(37, 37, 37);
  color: rgb(255, 0, 0);
  border: none;
  top: 0;
  right: 0;
  margin-right: 10px;
  margin-top: 10px;
  padding: 5px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  font-weight: 800;
  margin-left: 20px;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.15;
}

.remove-btn:hover {
  background-color: rgb(56, 56, 56);
  cursor: pointer;
}

.favorite-btn:hover {
  background-color: rgb(56, 56, 56);
  cursor: pointer;
}

.button-container {
  display: flex;
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
}

.thumbnail img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.info-container {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 10px;
  padding-top: 5px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 0 0 8px 8px;

}

.info-container {
  transition: opacity 0.3s ease-in-out;
}

.pdf-item:hover .info-container {
  display: block;
  padding: 0 10px;
  padding-top: 5px;
}

.pdf-item:hover .favorite-btn,
.pdf-item:hover .remove-btn {
  display: block;
}


/* DROPDOWN */  


.genre-filter-container {
  margin-left: 20px;
}

.genre-dropdown {
  display: block;
  width: 160px;
}

.dropdown-btn {
  background-color: #1c1a1a;
  color: white;
  padding: 12px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 800;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1c1a1a;
  color: white;
  min-width: 160px;
  max-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-decoration: none;
  border-radius: 8px;
  list-style-type: none;
}


.dropdown-content input {
  color: white;
  text-decoration: none;
  display: block;
}


.dropdown-content li {
  padding: 10px 5px;
  color: white;
  transition: all 0.15s;
}

.dropdown-content li:hover {
  background-color: #333;
  cursor: pointer;
}

.dropdown-content label {
  display: flex;
  color: white;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.dropdown-content input[type="checkbox"] {
  margin: 0;
}

.dropdown-content input[type="checkbox"] {
  margin-right: 5px;
  text-decoration: none;
}

.genre-dropdown:hover .dropdown-content {
  display: block;
  text-decoration: none;
}





.filter-list {
  text-decoration: none;
  padding: 5px 10px;
  display: flex;
  height: 36px;
  align-items: center;
  user-select: none;
}

.filter-list:hover {
  background-color: rgb(56, 56, 56);
}

.filter-label {
  font-weight: 800;
  font-family: sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
}

.search-filter-container {
  display: flex;
  align-items: center;
}

#search-input {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 12px;
  outline: transparent;
  background-color: #1c1a1a;
  margin-bottom: 12px;
  color: white;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 800;
  align-items: center;
  margin-top: 10px;
}


@media (max-width: 769px) {
  .item-container {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }

  .search-filter-container {
    display: block;
  }

  .genre-dropdown {
    display: block;
  }

  .dropdown-btn {
    margin-left: 0px;
  }

  .genre-filter-container {
    margin-left: 0px;
  }
}



@media (max-width: 540px) {
  .item-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media (max-width: 600px) {
  .view-btn {
    width: 100%;
    align-content: center;
    justify-content: center;
    margin: 0px;
  }

  .favorite-btn,
  .remove-btn {
    margin-right: 5px;
    margin-top: 5px;
  }

  .info-category {
    display: none;
  }

  .info-title {
    font-size: 14px;
  }

  .info-author {
    font-size: 12px;
  }
}



