.item-container {
    background-color: rgb(37, 37, 37);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    justify-content: start;
    padding: 20px;
    margin-bottom: 20px;
}

.pdf-item {
    background-color: #1c1a1a;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: 0.15s;
    aspect-ratio: 2/3;
}

.pdf-item:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.thumbnail {
    width: 100%;
    height: 100%;
    background-color: #2a2a2a;
    position: relative;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.8) 50%,
        rgba(0, 0, 0, 0.98) 90%
    );
    padding: 30px 15px 15px;
    transform: translateY(100%);
    transition: transform 0.2s ease;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.pdf-item:hover .info-container {
    transform: translateY(0);
    transform: scale(1.02);
}

.info-title {
    margin-bottom: 8px;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.info-author {
    font-size: 14px;
    color: #ddd;
    margin-bottom: 8px;
}

.info-category {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin-bottom: 12px;
}

.button-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.view-btn {
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    height: 36px;
    font-weight: 600;
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: white;
    color: black;
    text-transform: uppercase;
    font-family: sans-serif;
    transition: all 0.2s;
}

.view-btn:hover {
    opacity: 0.5;
}

.favorite-btn {
    padding: 8px;
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #363636;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.favorite-btn:hover {
    background-color: #505050;
}

.rating-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: #ffd700;
    padding: 5px 10px;
    border-radius: 20px;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: bold;
    font-size: 14px;
}

.rating-badge i {
    font-size: 16px;
}

/* Search and Filter Styles */

.genre-filter-container {
    margin-left: 20px;
}

.genre-dropdown {
    display: block;
    width: 160px;
    position: relative;
}

.dropdown-btn {
    background-color: #1c1a1a;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 800;
    width: 100%;
    text-align: left;
    transition: all 0.2s;
}

.dropdown-btn:hover {
    background-color: #2a2a2a;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1c1a1a;
    color: white;
    width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-decoration: none;
    border-radius: 8px;
    list-style-type: none;
    margin-top: 5px;
    padding: 5px 0;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content input {
    color: white;
    text-decoration: none;
    display: block;
}

.dropdown-content li {
    padding: 10px 5px;
    color: white;
    transition: all 0.15s;
}

.dropdown-content li:hover {
    background-color: #333;
    cursor: pointer;
}

.dropdown-content label {
    display: flex;
    color: white;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.dropdown-content input[type="checkbox"] {
    margin: 0;
    border: red 1px solid;
    margin-right: 5px;
    color: transparent;
    cursor: pointer;
}

.genre-checkbox {
    border: red 2px solid;
    color: blue;
    margin-right: 5px;
    color: transparent;
    cursor: pointer;
}

.filter-list {
    text-decoration: none;
    padding: 5px 10px;
    display: flex;
    height: 36px;
    align-items: center;
    user-select: none;
}

.filter-list:hover {
    background-color: rgb(56, 56, 56);
}

.filter-label {
    font-weight: 800;
    font-family: sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
}

.search-filter-container {
    display: flex;
    align-items: center;
}

#search-input {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    outline: transparent;
    background-color: #1c1a1a;
    margin-bottom: 12px;
    color: white;
    font-family: sans-serif;
    font-weight: 800;
    align-items: center;
    margin-top: 10px;
}

#search-input:focus {
    outline: white 1px solid;
    background-color: rgb(36, 36, 36);
}

@media (max-width: 1200px) {
    .item-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 992px) {
    .item-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
    }
}

@media (max-width: 768px) {
    .item-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
        padding: 12px;
    }

    .pdf-item {
        aspect-ratio: 2/3;
    }

    .info-container {
        display: none;
    }

    .pdf-item:hover {
        transform: none;
        cursor: pointer;
    }

    .search-filter-container {
        display: block;
    }

    .rating-badge {
        font-size: 12px;
        top: 5px;
        right: 5px;
    }

    .genre-dropdown {
        display: block;
    }

    .dropdown-btn {
        margin-left: 0px;
    }

    .genre-filter-container {
        margin-left: 0px;
    }
}

@media (max-width: 540px) {
    .item-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

@media (max-width: 400px) {
    .item-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .view-btn {
        width: 100%;
        align-content: center;
        justify-content: center;
        margin: 0px;
    }

    .info-category {
        display: none;
    }

    .info-title {
        font-size: 14px;
    }

    .info-author {
        font-size: 12px;
    }
}
