* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(13, 13, 13);
    min-width: 375px;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.main-container {
    background-color: rgb(13, 13, 13);
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    max-width: 1350px;
    margin: 0 auto;
    height: min-content;
    @media (max-width: 769px) {
        padding: 0 10px;
    }
}

.text-container {
    background-color: #202020;
    color: white;
    text-align: left;
    margin-top: 10px;
    padding: 16px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.text-container-title {
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 800;
}

@media (max-width: 768px) {
    .text-container {
        padding: 12px 8px;
    }
    .text-container-title {
        font-size: 28px;
    }
}
