* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #1c1a1a;
    min-width: 375px;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.main-container {
    background-color: #1c1a1a;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height:min-content;
    padding-bottom: 30px;
    
    @media (max-width: 769px) {
        padding: 0 10px;
        margin-top: 12px;
    }
}