.container {
    position: relative;
    display: flex;
    padding: 10px;
    max-width: 1350px;
    margin: 0 auto;
    margin-bottom: 10px;
    gap: 20px;
    padding: 0 10px;
    @media (max-width: 769px) {
        padding: 0 10px;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
}

.error-div {
    display: flex;
    max-width: 1350px;
    margin: 0 auto;
    @media (max-width: 769px) {
        padding: 0 10px;
        flex-wrap: wrap;
    }
}

.pdf-viewer-container {
    position: relative;
    max-width: 900px;
}

.pdf-viewer {
    height: 800px;
    overflow: auto;
    overflow-y: auto;
    width: 55%;
    margin: auto 0;
    border: 1px solid #ddd;
    @media (max-width: 769px) {
        width: 100%;
        height: 800px;
    }
}

.textLayer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    line-height: 1;
}

.pdf-viewer canvas {
    width: 100%;
}

.toolbar {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.toolbar button {
    padding: 8px 12px;
    margin: 0 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
}

.notes-div {
    background-color: rgb(26, 25, 25);
    width: 40%;
    margin-left: 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    @media (max-width: 769px) {
        width: 100%;
        margin-top: 20px;
        margin-left: 0px;
    }
}

.notes-name {
    background-color: rgb(37, 37, 37);
    height: 55px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    @media (max-width: 769px) {
        height: 46px;
    }
}

.notes-p {
    display: flex;
    padding-left: 20px;
    padding-top: 15px;
    color: white;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    @media (max-width: 769px) {
        padding-top: 10px;
    }
}

#note-area {
    color: white;
    padding: 20px;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 14px;
    height: 93%;
    width: 100%;
    border: none;
    background-color: rgb(26, 25, 25);
    resize: none;
    outline: none;
    @media (max-width: 769px) {
        height: 400px;
    }
}

@media screen and (max-width: 400px) {
    button {
        line-height: 12px;
    }
}

#bookmark-btn {
    margin-left: 15px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

#bookmark-btn.active {
    color: white;
}

#bookmark-btn:hover {
    opacity: 0.8;
}

.fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #1d1d1d;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

#toggle-button {
    display: none;
}

@media (max-width: 768px) {
    #toggle-button {
        display: block;
        font-size: 20px;
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #1d1d1d;
        color: white;
        border: none;
        border-radius: 50%;
        padding: 15px;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 10;
    }
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.pdf-viewer-wrapper {
    flex: 1;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#pdf-toolbar {
    display: flex;
    width: 100%;
    padding: 13px 5px;
    background-color: #252525;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 8px;
    margin-bottom: -5px;
    position: relative;
}

#pdf-toolbar button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 1.2em;
}

#pdf-toolbar span {
    color: white;
}

#pdf-container {
    background-color: rgb(37, 37, 37);
    border-radius: 10px;
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
    position: relative;
}

#pdf-toolbar span {
    color: white;
}

#pdf-container {
    background-color: rgb(37, 37, 37);
    border-radius: 10px;
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
    position: relative;
}

#pdf-container::-webkit-scrollbar {
    width: 8px;
}

#pdf-container::-webkit-scrollbar-track {
    background-color: transparent;
}

#pdf-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 2px;
}

#pdf-container canvas {
    display: block;
    margin: 5px auto;
    max-width: 100%;
    height: auto;
}

.container-under-pdf-view {
    padding: 10px;
    max-width: 1350px;
    margin: 0 auto;
    position: relative;
    @media (max-width: 769px) {
        padding: 0 10px;
    }
}

.under-pdf {
    display: flex;
    @media (max-width: 769px) {
        padding: 0 0px;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
}

.metadata {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    height: max-content;

    gap: 10px;
    align-items: center;
}

.metadata h2 {
    font-weight: 800;
    color: white;
    font-family: sans-serif;
    display: flex;
    font-size: 20px;
}

.favorite-form {
    display: inline-block;
    margin-left: auto;
}

.metadata button {
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    background-color: rgb(37, 37, 37);
    color: white;
    border-radius: 8px;
    padding: 10px 15px;
    font-weight: 800;
    font-family: sans-serif;
    height: 40px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.2s;
    white-space: nowrap;
}

.metadata button:hover {
    background-color: rgb(56, 56, 56);
}

/*FOCUS MODE*/

.action-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 10px;
}

.focus-mode-btn {
    display: inline-block;
    border: none;
    background-color: rgb(37, 37, 37);
    color: white;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    font-weight: 800;
    font-family: sans-serif;
    height: 40px;
    font-size: 12px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.focus-mode-btn:hover {
    background-color: rgb(56, 56, 56);
}

.exit-focus-mode {
    position: absolute;
    top: 5px;
    left: 5px;
    background: none;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    transition: opacity 0.2s;
    z-index: 1000;
    height: min-content;
}

.exit-focus-mode:hover {
    opacity: 0.7;
}

body.focus-mode nav,
body.focus-mode #underPdf,
body.focus-mode .metadata,
body.focus-mode .alert,
body.focus-mode .back-btn-div {
    display: none !important;
}

body.focus-mode .container {
    padding-top: 40px;
}

body.focus-mode {
    background-color: #1c1a1a;
}

body.focus-mode .navbar {
    display: none !important;
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

body.focus-mode .back-button {
    display: none !important;
}

.exit-focus-mode i {
    font-size: 18px;
}


