* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(13, 13, 13);
    min-width: 375px;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.navbar {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    background: rgb(13, 13, 13);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

h1 {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
}

.nav-a a {
    position: relative;
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-family: sans-serif;
    font-weight: 700;
    cursor: pointer;
    font-size: 17px;
    text-transform: uppercase;
}

.nav-a .active {
    border-bottom: 4px solid #ffffff;
}

.nav-a a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 4px;
    background: #ffffff;
    transition: 0.2s;
}

.nav-a a:hover::before {
    width: 100%;
}

@media (max-width: 769px) {
    .navbar {
        padding: 0 10px;
        padding-top: 10px;
        flex-direction: column;
        display: flex;
    }

    .navbar .nav-a a {
        display: none;
    }

    .navbar h1 {
        justify-content: center;
        text-align: center;
    }

    .nav-btn {
        display: flex;
        width: 100%;
        margin-top: 1%;
        margin-bottom: 1.5%;
    }

    .navbar button {
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");

/* page content */

p {
    font-weight: 800;
    margin-left: 20px;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
}

.main-container {
    background-color: rgb(13, 13, 13);
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: min-content;
    padding-bottom: 30px;

    @media (max-width: 769px) {
        padding: 0 10px;
        margin-top: 12px;
    }
}

.library-preview {
    background-color: #202020;
    border-radius: 8px;
    padding: 20px;
    overflow: hidden;
}

.text-container {
    text-align: center;
    margin-bottom: 20px;
}

.pdf-carousel {
    position: relative;
    overflow: hidden;
}

/* Add vignette containers */
.pdf-carousel::before,
.pdf-carousel::after {
    content: "";
    position: absolute;
    top: 0;
    width: 150px;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

.pdf-carousel::before {
    left: 0;
    background: linear-gradient(
        to right,
        #202020 0%,
        rgba(32, 32, 32, 0.9) 20%,
        rgba(32, 32, 32, 0) 100%
    );
}

.pdf-carousel::after {
    right: 0;
    background: linear-gradient(
        to left,
        #202020 0%,
        rgba(32, 32, 32, 0.9) 20%,
        rgba(32, 32, 32, 0) 100%
    );
}

.carousel-track-container {
    overflow: hidden;
}

.carousel-track {
    display: flex;
    animation: scroll 20s linear infinite;
}

.pdf-item {
    flex: 0 0 300px;
    padding: 0 10px;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .pdf-item {
        flex: 0 0 250px;
    }
    .carousel-track {
        animation: scroll 30s linear infinite;
    }
    .pdf-carousel::before,
    .pdf-carousel::after {
        width: 100px; 
    }
}

@media (max-width: 768px) {
    .pdf-item {
        flex: 0 0 200px;
    }
    .carousel-track {
        animation: scroll 20s linear infinite;
    }
    .pdf-carousel::before,
    .pdf-carousel::after {
        width: 60px; 
    }
}

@media (max-width: 480px) {
    .pdf-item {
        flex: 0 0 150px;
    }
    .carousel-track {
        animation: scroll 5s linear infinite;
    }
    .pdf-carousel::before,
    .pdf-carousel::after {
        width: 60px; 
    }
}

.thumbnail {
    position: relative;
    width: 100%;
    padding-top: 140%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateZ(0);
}

.thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}


.hero {
    text-align: center;
    padding: 30px 20px; 
    border-radius: 10px;
}

.hero-title {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
}

.hero-subtitle {
    font-size: 1.2rem;
    color: #eee;
    margin-bottom: 20px;
}

.section-title {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.section-subtitle,
.section-text {
    font-size: 1rem;
    color: #eee;
    margin: 0;
}

@media (min-width: 769px) {
    .main-container {
        padding: 30px 50px; /* More padding on larger screens */
    }

    .hero-title {
        font-size: 2.5rem;
    }

    .section-title {
        font-size: 1.8rem;
    }

    .section-subtitle,
    .section-text {
        font-size: 1.1rem;
    }
}


.benefits {
    margin-top: 20px;
    padding: 0px;
    max-width: 1000px;
    margin-left: auto; /* Center the section */
    margin-right: auto; /* Center the section */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content inside .benefits */
}

/* Genre Cards */
.genre-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    margin-top: 30px; /* Adjust spacing from the list above */
    justify-content: center; /* Center the cards */
}

.genre-card {
    background-color: #202020;
    border: none;
    border-radius: 8px;
    padding: 20px;
    width: calc(33% - 10px); /* Three cards per row on larger screens */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    min-height: 250px; /* Set a minimum height for all cards */
}

.genre-title {
    display: flex;
    align-items: center; /* Vertically align icon and title */
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    gap: 10px; /* Add some space between icon and title */
}

.icon-container {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Remove margin-bottom as it's now handled by gap in .genre-title */
}

.icon-container i {
    font-size: 22px;
}

.genre-icon {
    color: #333;
    font-size: 20px;
}

.genre-title-text {
    color: white;
    font-weight: 800;
    font-family: sans-serif;
    text-transform: uppercase;
    margin-bottom: 0; /* Remove default margin */
    font-size: 18px;
}

.genre-description {
    color: white;
    text-transform: none;
    font-size: 16px;
    flex-grow: 1;
    margin-left: 0;
}

/* Media Query for smaller screens (e.g., mobile) */
@media (max-width: 768px) {
    .genre-card {
        width: calc(50% - 20px); /* Two cards per row on smaller screens */
        min-height: 220px; /* Adjust min-height for smaller screens */
    }
    .genre-title {
        margin-bottom: 5px; /* Reduce margin on smaller screens */
    }

    .benefits {
        padding: 0px;
    }
}

/* Media Query for even smaller screens */
@media (max-width: 500px) {
    .genre-card {
        width: 100%; /* One card per row on very small screens */
        min-height: auto; /* Allow height to adjust as needed */
    }
}

.why-choose {
    margin-top: 20px;
}

.why-choose-list {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

/* FAQ Accordion Styles */
.faq-section {
    margin-bottom: 30px;
    margin-top: 30px;
}

.accordion {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.accordion-item {
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-bottom: 10px;
    overflow: hidden; /* This is important to hide content properly */
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 15px;
    background-color: #202020;
    box-shadow: rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    text-align: left;
    font-weight: 800;
    padding-left: 15px;
    cursor: pointer;
}

.accordion-header i {
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.accordion-item.active .accordion-header i {
    transform: rotate(180deg);
}

.accordion-content {
    background-color: #1c1a1a;
    color: #eee;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.accordion-content p {
    text-transform: none;
}

.accordion-content .content-wrapper {
    padding: 15px;
    height: max-content;
}

.accordion-content p {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .accordion-header {
        height: 50px;
    }

    .accordion-content .content-wrapper {
        height: max-content;
    }
}
